.main-div{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
.form{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg {
    /* The image used */
    //background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ));//,url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    background-color: lightgray;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }