 <div class='bold-line'></div>
 <div class='container'>
   <div class='window'>
     <div class='overlay'></div>
     <div class='content'>
       <div class='welcome'>Road Trip Advisor</div>
       <br>
       <div class='subtitle'>Log in</div>
       <form [formGroup]="form" (ngSubmit)="submit()">
       <div class='input-fields'>
         <input type='email' placeholder='Email' class='input-line full-width' formControlName = "username">
         <small class="text-danger" id="usernameError"  *ngIf="form.controls.username.touched && form.controls.username.errors?.required">
            This field can't be empty!</small>
            
         <input type='password' placeholder='Password' class='input-line full-width' formControlName = "password">
         <small class="text-danger" id="passwordError" *ngIf="form.controls.password.touched && form.controls.password.errors?.required">
            This field can't be empty!</small>
        </div>
        
       <div class='spacing'>You don't have an account? <span class='highlight'><a href="/register">Sign up</a></span></div>
       <div><button type="submit" class='ghost-round full-width' [disabled]="form.invalid">Login</button></div>
    </form>
     </div>
   </div>
 </div>
