div {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
  }
.mat-success {
    color: green;
}

.mat-button.mat-basic,
.mat-stroked-button.mat-basic {
    color: lightgrey;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

.backdropBackground {
  background: bisque !important;
}
