.material-icons.mat-icon {
    vertical-align:middle;
    font-size: 33pt;
    align-content :center;
    color:black;
}
.mat-button {
    font-size: 17pt;
    margin: 20px;
}
.flexSpaceBetween {
    justify-content: space-between;
}
