<form class="reactiveForm" [formGroup]="form" class="form">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <geoapify-geocoder-autocomplete (placeSelect)="placeSelected($event)">
        </geoapify-geocoder-autocomplete>
        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select (valueChange)="onSelectionCategory($event)" multiple>
                <mat-option *ngFor="let c of categories" [value]="c">
                    {{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Local food</mat-label>
            <mat-select (selectionChange)="changeFood($event)" placeholder="Select" multiple>
                <mat-option *ngFor="let f of localFoodArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Transportation</mat-label>
            <mat-select (valueChange)="changeTransportation($event)" placeholder="Select" multiple>
                <mat-option *ngFor="let f of transportationArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Images</mat-label>
            <input matInput formControlName="images">
        </mat-form-field>
        <button mat-button (click)="addImage()">Add</button>

        <br>
        <br>
        <br>
        <mat-dialog-actions align="end">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button type="submit" mat-raised-button color="success" id="submit" [disabled]="form.invalid"
                (click)="submit()">Add destination</button>
        </mat-dialog-actions>
    </div>
</form>