<form class="reactiveForm" [formGroup]="form" class="form">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Local food</mat-label>
            <mat-select (selectionChange)="changeFood($event)" placeholder="Select" multiple>
                <mat-option *ngFor="let f of localFoodArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Transportation</mat-label>
            <mat-select (valueChange)="changeTransportation($event)" placeholder="Select">
                <mat-option *ngFor="let f of transportationArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Budget</mat-label>
            <mat-select (valueChange)="changeBudget($event)" placeholder="Select">
                <mat-option *ngFor="let f of budgetArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Accommodation</mat-label>
            <mat-select (valueChange)="changeAccommodation($event)" placeholder="Select">
                <mat-option *ngFor="let f of accommodationArray" [value]="f">{{f}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Choose a start date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate" [min]="todayDate">
            <mat-datepicker-toggle matSuffix [for]="picker" id="datePickerToggleBtn" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Choose a end date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="endDate" [min]="todayDate">
            <mat-datepicker-toggle matSuffix [for]="picker1" id="datePickerToggleBtn" ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Max distance</mat-label>
            <input matInput formControlName="maxDistance" id="maxDistance" type="number">
            </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Number of people</mat-label>
            <input matInput formControlName="numberOfPeople" id="numberOfPeople" type="number">
            </mat-form-field>
        <br>
        <mat-slide-toggle (change)="toggle($event)">Children</mat-slide-toggle>
        <br>
    <br>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-raised-button color="success" id="submit" [disabled]="form.invalid" (click)="submit()">Plan my trip</button>
    </mat-dialog-actions>
    </div>
</form>  
