<div>
  <!-- <button mat-button (click)="onButtonClicked()">Plan your next trip!</button> -->
  <button class="style-1" (click)="onButtonClicked()">Plan your next trip! ⚡</button>
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="col-md-3" *ngFor="let i of destinations">
          <div class="card mb-2">
            <img class="card-img-top" [src]="i.image" alt="Card image cap">
            <div class="card-body">
              <span>
              <span class="card-title h4">{{i.name}}</span>
              <a id="goToPage{{i.id}}" class="open_in_new" mat-button href="/destination/{{i.id}}"
                matTooltip="Open to see details" inline="true">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </span>
            <br>
              <span>
                <img class="star" *ngIf="i.gold" src="https://allfreepng.com/storage/images/star%20png%206-medium.png">
                <span class="h2" *ngIf="i.gold">This is the best option for you!</span>
              </span>
              
              <span>
                <img class="star" *ngIf="i.silver" src="https://purepng.com/public/uploads/large/purepng.com-silver-starstargeometricallydecagonconcavestardomclipartsilver-1421526502885xmfkb.png">
                <span class="h2" *ngIf="i.silver">Silver shines like gold!</span>

              </span>
              
              <p class="card-text">Score: {{i.score}}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>