$color: pink;
$color2: pink;
$radius: .35rem;
$border-width: 2px;
$color-bg: white;
$offset: .5rem;
$transition: .3s;

.col-md-3{
    float:left;
    height: 400px;
}
button{
    color:#1cc3cc
}
a{
    color:#576869
}
img{
   height: 250px; 
}

.star {
    height: 40px;
    width: 45px;
}
.h4 { color: #000000; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold; line-height: 12px; letter-spacing: 3px; text-align: center; text-shadow: #c6b4f0 1px 1px; text-transform: uppercase; }

.h2 { color: #1a0a0a; font-size:15px;  font-family: 'Helvetica Neue', sans-serif; font-style: italic; font-weight: normal; letter-spacing: normal; text-transform: none; }

.spinner {
  vertical-align:middle;
  margin: auto;
}
button {
    font-weight: 60;
    border: solid $border-width $color;
    outline: 0;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    letter-spacing: .08rem;
    background-color: $color-bg;
    border-radius: $radius;
    position: relative;
    cursor: pointer;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color2;
        z-index: -1;
        border-radius: $radius;
        border: solid $border-width $color;
        transition: all $transition ease-in-out;
    }
  }
  button.style-1 {
    &::after {
       width: 20%;
       height: 20%;
    }
    &:hover {
      &::after {
        width: 30%;
        height: 30%;
        top: $offset;
        left: $offset;
      }
    }
  }
